body{
    background-color: #808080;
}
.main-input{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:300px;
    height:75px;
    background: transparent;
    border: 0;
    border-bottom: 2px solid black;
    font-size:90px;
    text-align: center;
    padding-bottom:10px;
    letter-spacing:10px;
    box-shadow: inset 0 0 0 1px #000000;
}
.guess{
    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -50%);
    margin-top:80px;
    width:230px;
}
table{
    position: absolute;
    height:100vh;
    overflow-y: scroll;
    top:100%;
    transform: translateY(-50%);
    text-align: center;
}
table th{
    height:50px;
}
table th td{
    height:50px;
}